snippet kr "Kind regards"
Kind regards,
Jan
endsnippet
snippet kre "Kind regards with surname"
Kind regards,
Jan Ernsting
endsnippet
snippet vg "Viele Grüße"
Viele Grüße
Jan
endsnippet
snippet vge "Viele Grüße mit Nachnamen"
Viele Grüße
Jan Ernsting
endsnippet
